**/data
**/metadata
**/*.out
**/*.csv
**/.vscode
**/.claude
**/logs
**/motifs
**/sratoolkit*
**/*output*
/maxatac
**/*.ipynb
**/*.pdf
**/*.tar.gz
/.20260602_src_backup
/src/analysis/interpretability/.20260714_hpcScripts_backup
**/.DS_Store
repo_cleanup.md
deprecated_scripts.md
**/__*
**/._*
/src/analysis/interpretability/attr_analyses_output
/marginalization_naive.py
**/*.bed
src/analysis/interpretability/src/tangermeme_mm