**/data
**/metadata
**/*.out
**/*.csv
**/.claude
**/logs
**/motifs
**/sratoolkit*
**/*output*
/maxatac
**/*.ipynb
**/*.pdf
**/*.tar.gz
/.20260602_src_backup
/src/analysis/interpretability/.20260714_hpcScripts_backup
/src/preprocessing/chip/qsub_scripts
/src/analysis/interpretability/attr_analyses_output
/repo_cleanup.md
/marginalization_naive.py
**/*.bed